.searchBox {
  border-color: '#367d88';
  border-style: 'solid';
  width: '30%';
  margin: '30px auto';
  height: '30%';
}

.searchInput {
  position: 'absolute';
  color: 'white';
  background-color: '#34585e';
  width: '30%';
  height: '23px';
  font: "16pt 'calibri','Arial',sans-serif";
}
